/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * Brand
**/
@light: 			#fff;    //blanco
@primary:			#1aa2dc; //azul
@secondary: 		#b2b2b2; //gris-light
@dark: 				#343434; //gris-obscuro

/**
 * Status
**/
@danger: 		#e74c3c;

/**
 * Social media
**/
@twitter: 		#2aa8df;
@facebook: 		#3c5a97;
@pinterest: 	#c92027;
@gplus: 		#dd4b39;
@linkedin: 		#007bb6;



/*------------------------------------*\
    #APPLICATIONS
\*------------------------------------*/

/**
 * Color
**/
.color-light{ color: @light; }
.color-primary{ color: @primary; }
.color-secondary{ color: @secondary; }
.color-dark{ color: @dark; }

/**
 * Backgrounds
**/
.bg-light{ background-color: @light; }
.bg-primary{ background-color: @primary; }
.bg-secondary{ background-color: @secondary; }
.bg-dark{ background-color: @dark; }