/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * Brand
**/
@light: 		#ffffff; 	// white
@intermediate: 	#ccd1d9; 	// grey
@dark: 			#343434; 	// very dark grey
@primary:		#00a8ab; 	// green-ish
@secondary: 	#e74c3c; 	// red


/**
 * Status
**/
@danger: 		#ed5565; //red
@warning: 		#f6bb42; //Yellow
@success: 		#8cc152; //bright green

/**
 * Social media
**/
@twitter: 		#2aa8df;
@facebook: 		#3c5a97;
@pinterest: 	#c92027;
@gplus: 		#dd4b39;
@linkedin: 		#007bb6;



/*------------------------------------*\
    #APPLICATIONS
\*------------------------------------*/

/**
 * Color
**/
.color-light{ color: @light; }
.color-intermediate{ color: @intermediate; }
.color-dark{ color: @dark; }
.color-primary{ color: @primary; }
.color-secondary{ color: @secondary; }
.color-danger{ color: @danger; }
.color-warning{ color: @warning; }
.color-success{ color: @success; }

/**
 * Backgrounds
**/
.bg-light{ background-color: @light; }
.bg-light-hover{ background-color: darken(@light, 10%); }
.bg-intermediate{ background-color: @intermediate; }
.bg-intermediate-hover{ background-color: darken(@intermediate, 10%); }
.bg-dark{ background-color: @dark; }
.bg-dark-hover{ background-color: darken(@dark, 10%); }
.bg-primary{ background-color: @primary; }
.bg-primary-hover{ background-color: darken(@primary, 10%); }
.bg-secondary{ background-color: @secondary; }
.bg-secondary-hover{ background-color: darken(@secondary, 10%); }
.bg-danger{ background-color: @danger; }
.bg-danger-hover{ background-color: darken(@danger, 10%); }
.bg-warning{ background-color: @warning; }
.bg-warning-hover{ background-color: darken(@warning, 10%); }
.bg-success{ background-color: @success; }
.bg-success-hover{ background-color: darken(@success, 10%); }